.faq__title {
  margin-bottom: 20px;
}

@media (max-width: $tablet-max-width) {
  .faq__title {
    margin-bottom: 19px;
    transform: translateX(-5px);
  }
}

@media (max-width: $mobile-max-width) {
  .faq__title {
    margin-bottom: 24px;
    transform: translateX(0);
  }
}
