.faq__active-btn {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 13.3%;
    height: 100%;
    background-image: url("../img/activeQuestion.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: $brown;
  }

  &:hover::after {
    background-color: $darkgray-background;
  }
}

@media (max-width: $mobile-max-width) {
  .faq__active-btn {
    &::after {
      width: 14.3%;
    }
  }
}
