.faq__answer {
  width: 99.9%;
  height: 0;
  padding: 0 42px;
  border: 0 solid $brown;

  transition: height 0.3s ease-out,
    padding 0.3s ease-out,
    border 0.3s ease-out;

  &--show {
    width: 99.9%;
    height: auto;
    padding: 38px 42px 39px;
    border: 1px solid $brown;
    border-top: none;
    z-index: 1;
  }

  p {
    width: auto;
    margin: 0;
    font-family: $roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 154%;
    color: $lightbrown;

    &:first-of-type {
      max-width: 549px;
      margin-bottom: 28px;
    }

    &:last-of-type {
      max-width: 549px;
      margin-bottom: 0;
    }
  }
}

@media (max-width: $tablet-max-width) {
  .faq__answer {
    padding-left: 28px;
    padding-right: 143px;

    &--show {
      padding: 24px 143px 29px 28px;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .faq__answer {
    padding-left: 14px;
    padding-right: 25px;

    &--show {
      padding: 11px 25px 11px 14px;
    }

    p {
      font-size: 14px;
      line-height: 142%;

      &:first-of-type {
        margin-bottom: 15px;
      }
    }
  }
}
