.faq__wrapper {
  padding-top: 72px;
  padding-bottom: 26px;
}

@media (max-width: $tablet-max-width) {
  .faq__wrapper {
    padding-top: 137px;
    padding-bottom: 26px;

  }
}

@media (max-width: $mobile-max-width) {
  .faq__wrapper {
    padding-top: 53px;
    padding-bottom: 9px;
  }
}
