.faq__item {
  position: relative;
  padding: 0;
  padding-left: 116px;
  margin: 0;
  margin-bottom: 36px;
  counter-increment: faq-counter;
  overflow: hidden;

  &::before {
    content: "0"counter(faq-counter);
    position: absolute;
    left: 0;
    top: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    font-family: $roboto;
    line-height: 82px;
    color: $brown;
  }

  &:last-of-type {
    padding-bottom: 0;
  }
}

@media (max-width: $tablet-max-width) {
  .faq__item {
    padding-left: 82px;
    margin-bottom: 23px;

    &::before {
      top: 9px;
      left: 1px;
      font-size: 50px;
      line-height: 59px;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .faq__item {
    margin-bottom: 30px;
    padding-left: 0;

    &::before {
      display: none;
    }
  }
}
