.faq__lead {
  margin-bottom: 54px;
}

@media (max-width: $tablet-max-width) {
  .faq__lead {
    margin-bottom: 52px;
  }
}

@media (max-width: $mobile-max-width) {
  .faq__lead {
    max-width: 190px;
    margin-bottom: 36px;
  }
}
