.faq__question {
  box-sizing: border-box;
  position: relative;
  font-family: $roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: $lightbrown;
  background-color: $lightgray-background;
  cursor: pointer;
  width: 99.9%;
  padding: 47px 15% 43px 42px;
  border: 1px solid $brown;
  text-align: left;
  outline: none;
  z-index: 2;
  transition: background-color 0.3s ease-out;

  appearance: none;

  transition: background-color 0.3s ease-out;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 13.3%;
    height: 100%;
    background-image: url("../img/+.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-left: 1px solid $brown;

    transition: background-color 0.3s ease-out;
  }

  &:hover,
  &:hover::after {
    background-color: $darkgray-background;
  }
}

@media (max-width: $tablet-max-width) {
  .faq__question {
    padding: 21px 140px 16px 29px;

    &--zeroTwo {
      padding: 28px 140px 28px 26px;
    }

    &--zeroFour {
      padding: 31px 140px 25px 28px;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .faq__question {
    padding: 10px 17% 11px 14px;
    font-size: 14px;
    line-height: 140%;

    &::after {
      width: 14.3%;
    }

    &--zeroTwo {
      padding: 12px 17% 10px 14px;
      letter-spacing: 0.05px;
    }

    &--zeroThree {
      padding: 10px 17% 10px 14px;
    }

    &--zeroFour {
      padding: 10px 17% 10px 14px;
    }

    &:hover::after {
      background-color: $lightgray-background;
    }
  }
}
