.gallery {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 49px;
  column-count: 2;
  column-gap: 6%;
  padding-left: 23px;
}

@media (max-width: $tablet-max-width) {
  .gallery {
    display: flex;
    height: 495px;
    column-count: 1;
    column-gap: 0;
    margin-bottom: 56px;
    padding-left: 0;
  }
}

@media (max-width: $mobile-max-width) {
  .gallery {
    width: 82%;
    height: 100%;
    transform: translateX(0);
    margin-bottom: 42px;
    overflow: visible;
  }
}
