.gallery {
  overflow: hidden;
  width: 86%;
  margin: 0 auto;
  margin-bottom: 49px;
}

@media (max-width: $tablet-max-width) {
  .gallery {
    width: 84.2%;
    height: 495px;
    transform: translateX(-13px);
    margin-bottom: 56px;
  }
}

@media (max-width: $mobile-max-width) {
  .gallery {
    width: 92%;
    height: 248px;
    transform: translateX(0);
    margin-bottom: 42px;
  }
}
