.gallery {
  width: 92%;
  margin: 0 auto;
  margin-bottom: 49px;
  transform: translateX(3%);
}

@media (max-width: $tablet-max-width) {
  .gallery {
    width: 100%;
    transform: translateX(0%);
  }
}

@media (max-width: $mobile-max-width) {
  .gallery {
    display: none;
  }
}
