.gallery__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  transform: translateX(34px);
}

@media (max-width: $tablet-max-width) {
  .gallery__wrapper {
    align-items: center;
    height: 495px;
    transform: translateX(0);
    // transition: all 0.3s ease-out;
  }
}

@media (max-width: $mobile-max-width) {
  .gallery__wrapper {
    align-items: center;
    width: 100%;
    height: 248px;
    transform: translateX(0);
    // transition: all 0.3s ease-out;
  }
}
