.gallery__item-img {
  &--top {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &--bottom {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  &--large {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (max-width: $mobile-max-width) {
  .gallery__item-img {
    &--top {
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 234px;
      width: 80%;
      height: auto;
    }

    &--bottom {
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 208px;
      width: 80%;
      height: auto;
    }

    &--large {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      min-width: 231px;
      width: 80%;
      height: auto;
    }
  }
}
