.gallery__item {
  flex-shrink: 1;
  line-height: 0;
  break-inside: avoid;
  page-break-inside: avoid;

  overflow: hidden;
  width: 100%;

  &--top {
    margin-bottom: 30px;
    height: 214px;
  }

  &--bottom {
    height: 241px;
  }

  &--large {
    width: calc(100% - 30px);
    max-width: 474px;
    height: 485px;
  }

  img {
    line-height: 0;
  }
}

@media (max-width: $tablet-max-width) {
  .gallery__item {
    flex-shrink: 0;
    position: relative;
    display: block;
    width: 474px;
    height: auto;
    max-height: 1000px;

    transition: height 0.3s ease-out,
      margin-top 0.3s ease-out;

    &--top {
      margin-bottom: 0;
      background-color: #0e0d10;
    }

    &--bottom {
      background-color: #111116;
    }

    &.swiper-slide-active {
      height: 495px;
    }

    &.swiper-slide-prev,
    &.swiper-slide-duplicate-prev,
    &.swiper-slide-next,
    &.swiper-slide-duplicate-next,
    &.swiper-slide-duplicate-active {
      height: 197px;
      margin-top: 148px;
      background-color: #1f1c1d;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .gallery__item {
    width: 100%;
    overflow: hidden;

    &.swiper-slide {
      margin: 0;
      height: 78.125vw;
      max-height: 450px;
      transition: none;
      background-color: transparent;
    }
  }
}
