.gallery__item {
  &:first-of-type {
    margin-bottom: 26px;
  }
}

@media (max-width: $tablet-max-width) {
  .gallery__item {
    // width: 474px;
    // height: 495px;
    // transition: all 0.3s ease-out;

    &:first-of-type {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .gallery__item {
    width: 100%;
    height: 248px;

    &:first-of-type {
      margin-bottom: 0;
    }
  }
}
