.gallery__item {
  flex-shrink: 1;
  line-height: 0;
  break-inside: avoid;
  page-break-inside: avoid;

  overflow: hidden;

  &--top {
    margin-bottom: 6.5%;
    width: 106%;
    max-height: 216px;
    height: 216px;
  }

  &--bottom {
    width: 106%;
    max-height: 238px;
    height: 238px;
  }

  &--large {
    width: 98%;
    height: 485px;
  }

  img {
    line-height: 0;
  }
}

@media (max-width: $tablet-max-width) {
  .gallery__item {
    flex-shrink: 0;
    position: relative;
    width: 474px;

    transition: height 0.3s ease-out,
      margin-top 0.3s ease-out;

    &--top {
      max-height: 1000px;
      height: auto;
      margin-bottom: 0;
      background-color: #0e0d10;
    }

    &--bottom {
      max-height: 1000px;
      background-color: #111116;
      height: auto;
    }

    &--large {
      max-height: 1000px;
      height: auto;
    }

    &.swiper-slide-active {
      height: 495px;

      .gallery__item-img {
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &.swiper-slide-prev,
    &.swiper-slide-duplicate-prev {
      height: 197px;
      margin-top: 148px;
      background-color: #1f1c1d;

      .gallery__item-img {
        top: 50%;
        left: 60%;
        transform: translateX(0, -50%);
      }
    }

    &.swiper-slide-next,
    &.swiper-slide-duplicate-next {
      height: 197px;
      margin-top: 148px;
      background-color: #1f1c1d;

      .gallery__item-img {
        top: 50%;
        left: -60%;
        transform: translate(0, -50%);
      }
    }
  }
}

@media (max-width: $mobile-max-width) {
  .gallery__item {
    width: 100%;
    overflow: hidden;

    &:first-of-type {
      margin-bottom: 0;
    }

    &--top {
      background-color: transparent;
    }

    &--bottom {
      background-color: transparent;;
    }

    &.swiper-slide-active {
      height: auto;

      .gallery__item-img {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &.swiper-slide-prev,
    &.swiper-slide-duplicate-prev {
      height: auto;
      margin-top: 0;
      background-color: transparent;

      .swiper-slide__img {
        left: 0;
        transform: translateY(-50%);
      }
    }

    &.swiper-slide-next,
    &.swiper-slide-duplicate-next {
      height: auto;
      margin-top: 0;
      background-color: transparent;

      .gallery__item-img {
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
}
