.gallery__item-img {
  &--top {
    width: 517px;
    height: 214px;
  }

  &--bottom {
    width: 518px;
    height: 241px;
  }

  &--large {
    width: 471px;
    height: 485px;
  }
}

@media (max-width: $tablet-max-width) {
  .gallery__item-img {
    &--top {
      width: 474px;
      height: 197px;
    }

    &--bottom {
      width: 474px;
      height: 197px;
    }

    &--large {
      width: 474px;
      height: 495px;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .gallery__item-img {
    &--top {
      min-width: 234px;
      width: 234px;
      height: 99px;
    }

    &--bottom {
      min-width: 208px;
      width: 208px;
      height: 99px;
    }

    &--large {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      min-width: 231px;
      width: 231px;
      height: 250px;
    }
  }
}
