@media (max-width: $tablet-max-width) {
  .swiper-container {
    width: 100%;
    height: 28vw;
    transition: opacity .6s ease;

    &.swiper-container-coverflow {
      padding-top: 2%;
    }

    &.loading {
      opacity: 0;
      visibility: hidden;
    }

    &:hover {

      .swiper-button-prev,
      .swiper-button-next {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
  }

  [class^="swiper-button-"] {
    width: 44px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }

  .swiper-button-prev {
    transform: translateX(50px);
  }

  .swiper-button-next {
    transform: translateX(-50px);
  }

  .swiper-container-horizontal {
    >.swiper-pagination-bullets {
      .swiper-pagination-bullet {
        margin: 0 9px;
        position: relative;
        width: 12px;
        height: 12px;
        background-color: #fff;
        opacity: .4;
        transition: all 0.3s ease;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 18px;
          height: 18px;
          transform: translate(-50%, -50%);
          border: 0px solid #fff;
          border-radius: 50%;
          transition: all 0.3s ease;
        }

        &:hover,
        &.swiper-pagination-bullet-active {
          opacity: 1;
        }

        &.swiper-pagination-bullet-active {
          &::before {
            border-width: 1px;
          }
        }
      }
    }
  }

  // Mediaqueries
  @media(max-width:1023px) {
    .swiper-container {
      height: 40vw;

      &.swiper-container-coverflow {
        padding-top: 0;
      }
    }
  }

}
