.care__list {
  @include list-reset;
  width: 96%;
  margin: 0 auto;
  column-count: 2;
  column-gap: 3.5%;
  column-width: 200px;
}

@media (max-width: $tablet-max-width) {
  .care__list {
    width: 78.2%;
    transform: translateX(9px);
    column-count: 1;
    column-gap: 0;
    column-width: auto;
  }
}

@media (max-width: $mobile-max-width) {
  .care__list {
    width: 100%;
    transform: translateX(0);
  }
}
