.care__list {
  @include list-reset;
  width: 96%;
  margin: 0 auto;
  column-count: 2;
}

@media (max-width: $tablet-max-width) {
  .care__list {
    flex-direction: column;
    width: 78.2%;
    transform: translateX(9px);
  }
}

@media (max-width: $mobile-max-width) {
  .care__list {
    width: 100%;
    transform: translateX(0);
  }
}
