.care__link {
  position: relative;
  display: block;
  min-height: 165px;
  border: 1px solid $brown;
  padding-top: 37px;
  padding-left: 58px;
  padding-bottom: 21px;
  padding-right: 19%;
  cursor: pointer;
  transition: background-color 0.3s ease-out;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 10.6%;
    height: 100%;
    background-color: $brown;
    border-left: 1px solid $brown;
    background-image: url("../img/arrowDetails.svg");
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 0.3s ease-out;
  }

  &:hover,
  &:hover::after {
    background-color: $darkgray-background;
  }
}

@media (max-width: $tablet-max-width) {
  .care__link {
    padding: 39px 120px 21px 48px;
    min-height: 168px;
  }
}

@media (max-width: $mobile-max-width) {
  .care__link {
    padding: 21px 18% 18px 24px;
    min-height: 152px;

    &::after {
      width: 15.6%;
    }
  }
}
