.care__title {
  margin: 0;
  margin-bottom: 48px;
  font-family: $yesevaOne;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: $white;
  text-align: center;

  br {
    display: none;
  }
}

@media (max-width: $tablet-max-width) {
  .care__title {
    margin-bottom: 38px;
  }
}

@media (max-width: $mobile-max-width) {
  .care__title {
    margin: 0 auto 33px;
    font-size: 28px;
    line-height: 32px;

    br {
      display: block;
    }
  }
}
