.care__item {
  display: flex;
  flex-basis: 48.3%;
  margin-bottom: 3.9%;
  margin-right: auto;

  &:nth-child(2n + 1) {
    margin-right: auto;
  }

  &--wool {
    order: 0;
  }

  &--earsandeyes{
    order: 2;
    margin-right: auto;
  }

  &--claws {
    order: 1;
    margin-right: 0;
  }

  &--food {
    order: 3;
    margin-right: 0;
  }
}

.care__item.care__item--food {
  margin-right: 0;
}

.care__item.care__item--claws {
  margin-right: 0;
}

@media (max-width: $tablet-max-width) {
  .care__item {
    margin-right: 0;
    margin-bottom: 23px;

    &--wool {
      order: 0;
    }

    &--earsandeyes{
      order: 1;
    }

    &--claws {
      order: 2;
    }

    &--food {
      order: 3;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .care__item {
    margin-bottom: 30px;
  }
}
