.care__title {
  margin-bottom: 48px;
}

@media (max-width: $tablet-max-width) {
  .care__title {
    margin-bottom: 38px;
  }
}

@media (max-width: $mobile-max-width) {
  .care__title {
    margin-bottom: 33px;
  }
}
