.care__link {
  position: relative;
  display: block;
  min-height: 165px;
  border: 1px solid $brown;
  padding-top: 37px;
  padding-left: 58px;
  padding-bottom: 21px;
  padding-right: 55px;
  cursor: pointer;
  transition: all 0.3s ease-out;

  &:hover {
    border: 1px solid $white;
  }

  &:hover::after {
    background-color: $white;
  }

  h3 {
    margin: 0;
    margin-bottom: 10px;
    font-family: $roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: $brown;
  }

  p {
    margin: 0;
    font-family: $roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    color: $white;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 10.6%;
    height: 100%;
    background-color: $brown;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='17' viewBox='0 0 12 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.360718 16.2593L10.9207 8.27997L0.360717 0.30061' stroke='white' stroke-width='0.5'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (max-width: $tablet-max-width) {
  .care__link {
    padding: 39px 120px 21px 48px;
    min-height: 168px;
  }
}

@media (max-width: $mobile-max-width) {
  .care__link {
    padding: 21px 45px 18px 24px;
    min-height: 152px;

    h3 {
      font-size: 18px;
      line-height: 21px;
    }

    p {
      line-height: 20px;
    }

    &::after {
      width: 15.6%;
    }
  }
}
