.crown {
  margin-bottom: 112px;
  fill: $brown;
  stroke: $darkgray-background;
  stroke-width: 0.8;
  transition: all 0.3s ease-out;

  &:hover,
  &:focus {
    fill: $white;
  }
}

@media (max-width: $tablet-max-width) {
  .crown {
    margin-bottom: 92px;
  }
}

@media (max-width: $mobile-max-width) {
  .crown {
    margin-bottom: 50px;
  }
}
