.header__social {
  position: relative;
  flex-direction: column;
  margin-top: auto;
  align-items: flex-start;
  width: 10.2%;

  &::before {
    content: "";
    position: absolute;
    top: -106px;
    left: 6px;
    height: 77.5px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.61);
    margin-bottom: 29px;
    align-self: center;
  }
}

@media (max-width: $tablet-max-width) {
  .header__social {
    width: 100%;
    order: 2;

    &::before {
      display: none;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .header__social {
    display: none;
  }
}
