.pets {
  background-color: $lightgray-background;

  h2 {
    margin: 0;
    margin-bottom: 20px;
    font-family: $yesevaOne;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: $white;
    text-align: center;
  }

  p {
    margin: 0;
    margin-bottom: 43px;
    font-family: $roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: $brown;
  }

  a {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 200px;
  }
}
