@media (max-width: $tablet-max-width) {
  .slider {
    width: 84%;
    position: relative;
    overflow: hidden;
    transform: translateX(-2.2%);

    .slide {
      display: block;
      flex-shrink: 0;
    }
  }
}
