.social {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

  &--header {
    flex-direction: column;

    li {
      margin-top: 14px;
      height: 12px;

      &:first-of-type {
        margin-top: 0;
      }
    }

    a {
      height: 12px;
    }

    svg {
      fill: $white;
      transition: all 0.3s ease-out;

      &:hover,
      &:focus {
        fill: $brown;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }
}

@media (max-width: $tablet-max-width) {
  .social {
    &--header {
      flex-direction: row;
      justify-content: flex-start;
      max-height: auto;

      li {
        margin-top: 0;
        margin-right: 8px;

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
