.advantages__title {
  margin-bottom: 20px;
}

@media (max-width: $tablet-max-width) {
  .advantages__title {
    margin-bottom: 21px;
  }
}

@media (max-width: $mobile-max-width) {
  .advantages__title {
    max-width: 228px;
    margin-bottom: 24px;
  }
}
