.advantages__lead {
  margin-bottom: 46px;
  word-spacing: 2px;
}

@media (max-width: $tablet-max-width) {
  .advantages__lead {
    margin-bottom: 59px;
  }
}

@media (max-width: $mobile-max-width) {
  .advantages__lead {
    word-spacing: 1px;
    margin-bottom: 36px;
  }
}
