.social {
  @include list-reset;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;

  li {
    position: relative;
    width: 12px;
    height: 16px;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: fill 0.3s ease-out,
      opacity 0.3s ease-out;

    &:active {
      opacity: 0.5;
    }
  }
}
