$brown: #a07b50;
$lightbrown: #ddd0c3;
$white: #ffffff;
$lightgray-background: #1f1c1d;
$darkgray-background: #151313;

$tablet-max-width: 1023px;
$mobile-max-width: 767px;

$roboto: "Roboto", "Arial", sans-serif;
$yesevaOne: "Yeseva One", "Georgia", serif;
