.team__item {
  img {
    position: absolute;
    bottom: 11.7%;
    right: 59.7%;
  }

  blockquote {
    margin: 0;
  }
}

@media (max-width: $tablet-max-width) {
  .team__item {
    padding-left: 0;

    img {
      bottom: -95px;
      right: 57px;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .team__item {
    img {
      width: 126px;
      height: 126px;
      top: -63px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
