.team__lead {
  margin-bottom: 23px;
  max-width: 505px;
}

@media (max-width: $tablet-max-width) {
  .team__lead {
    margin-bottom: 24px;
  }
}

@media (max-width: $mobile-max-width) {
  .team__lead {
    margin-bottom: 99px;
    max-width: 90%;
  }
}
