.team__item-content {
  margin: 0 0 46px;
  font-family: $roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 25px;
  color: $white;
  opacity: 0.7;
}

@media (max-width: $tablet-max-width) {
  .team__item-content {
    margin: 0 0 48px;
  }
}

@media (max-width: $mobile-max-width) {
  .team__item-content {
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    margin-bottom: 22px;
  }
}
