.team__list {
  @include list-reset;
  width: 85%;
  padding-left: 367px;
}

@media (max-width: $tablet-max-width) {
  .team__list {
    width: 91%;
    padding-left: 0;
    transform: translateX(18px);
  }
}

@media (max-width: $mobile-max-width) {
  .team__list {
    width: 100%;
    transform: translateX(0);
  }
}
