.team__item-wrapper {
  background-color: $lightgray-background;
  padding: 68px 98px 74px;
}

@media (max-width: $tablet-max-width) {
  .team__item-wrapper {
    padding: 70px 95px 75px 105px;
  }
}

@media (max-width: $mobile-max-width) {
  .team__item-wrapper {
    padding: 84px 10px 16px 13px;
  }
}
