.team__slider {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  button {
    width: 31px;
    height: 31px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;

    transition: opacity 0.3s ease-out;

    &:hover {
      opacity: 1;
    }

    &:first-of-type {
      background-image: url("../img/arrowPrev.svg");
    }

    &:last-of-type {
      background-image: url("../img/arrowNext.svg");
    }
  }
}

@media (max-width: $tablet-max-width) {
  .team__slider {
    position: relative;
    margin: 0 auto;
    width: 650px;
    transform: translateX(-13px);

    button {
      position: absolute;
      z-index: 2;

      &:first-of-type,
      &:last-of-type {
        bottom: -97px;
      }

      &:first-of-type {
        right: 285px;
      }

      &:last-of-type {
        right: 7px;
      }
    }
  }
}

@media (max-width: $mobile-max-width) {
  .team__slider {
    width: 100%;
    transform: translateX(0);

    button {

      width: 19px;
      height: 19px;

      &:first-of-type,
      &:last-of-type {
        top: -10px;
      }

      &:first-of-type {
        left: 54px;
      }

      &:last-of-type {
        right: 54px;
      }
    }
  }
}
