.team__social {
  li {
    margin-right: 9px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  svg {
    fill: $white;

    &:hover,
    &:focus {
      fill: $brown;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .team__social {
    justify-content: center;

    li {
      margin-right: 11px;
    }
  }
}
