.team__item {
  position: relative;
  border: 1px solid $brown;
  padding: 22px 31px 20px 25px;

  img {
    position: absolute;
    top: -1px;
    left: -314px;
  }

  h4 {
    margin: 0 0 6px;
    font-family: $roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $brown;
  }

  b {
    margin: 0 0 23px;
    display: block;
    font-family: $roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $brown;
  }

  p {
    margin: 0 0 45px;
    font-family: $roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: $white;
    opacity: 0.7;
  }
}

@media (max-width: $tablet-max-width) {
  .team__item {
    padding: 25px 23px 23px 25px;

    img {
      position: absolute;
      top: 298px;
      left: 384px;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .team__item {
    border: none;
    padding: 0;

    img {
      width: 126px;
      height: 126px;
      top: -63px;
      left: 82px;
    }

    h4 {
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      margin-bottom: 4px;
    }

    b {
      font-size: 14px;
      line-height: 135.94%;
      text-align: center;
      margin-bottom: 17px;
    }

    p {
      font-size: 14px;
      line-height: 140%;
      text-align: center;
      margin-bottom: 24px;
    }
  }
}
