.team__item {
  img {
    position: absolute;
    bottom: 11%;
    right: 59.7%;
  }

  h4 {
    margin: 0 0 6px;
    font-family: $roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $brown;
  }

  b {
    margin: 0 0 23px;
    display: block;
    font-family: $roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: $brown;
  }

  p {
    margin: 0 0 45px;
    font-family: $roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: $white;
    opacity: 0.7;
  }
}

@media (max-width: $tablet-max-width) {
  .team__item {
    padding-left: 0;

    img {
      bottom: -95px;
      right: 57px;
    }

    p {
      margin: 0 0 48px;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .team__item {
    img {
      width: 126px;
      height: 126px;
      top: -63px;
      left: 50%;
      transform: translateX(-50%);
    }

    h4 {
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      margin-bottom: 4px;
    }

    b {
      font-size: 14px;
      line-height: 135.94%;
      text-align: center;
      margin-bottom: 16px;
    }

    p {
      font-size: 14px;
      line-height: 143%;
      text-align: center;
      margin-bottom: 22px;
    }
  }
}
