.team__title {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  font-family: $yesevaOne;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: $white;
}

@media (max-width: $tablet-max-width) {
  .team__title {
    margin-bottom: 22px;
  }
}

@media (max-width: $mobile-max-width) {
  .team__title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 24px;
  }
}
