.team__img-wrapper {
  z-index: 5;
  width: 50%;
  margin-left: 55px;
}

@media (max-width: $tablet-max-width) {
  .team__img-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (max-width: $mobile-max-width) {
  .team__img-wrapper {
    position: relative;
    top: 0;
    bottom: auto;
    right: auto;

    width: 43%;
    max-width: 180px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
