.team__social {
  @include list-reset;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;

  li {
    margin-right: 8px;

    &:first-of-type {
      width: 22px;
      height: 15px;
    }

    &:nth-of-type(2) {
      width: 21px;
      height: 15px;
    }

    &:last-of-type {
      width: 7px;
      height: 15px;
    }
  }

  .social__icon {
    fill: $white;

    &--vk {
      width: 35px;
      height: 24px;
    }

    &--twitter {
      width: 30px;
      height: 22px;
    }

    &--facebook {
      width: 9px;
      height: 20px;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .team__social {
    justify-content: center;
  }
}
