.team__list {
  @include list-reset;
  position: relative;
  width: 85%;
}

@media (max-width: $tablet-max-width) {
  .team__list {
    width: 100%;
  }
}

@media (max-width: $mobile-max-width) {
  .team__list {
    width: 100%;
    transform: translateX(0);
  }
}
