.team__wrapper {
  display: block;
  padding-top: 83px;
  padding-bottom: 70px;
}

@media (max-width: $tablet-max-width) {
  .team__wrapper {
    padding-top: 84px;
    padding-bottom: 88px;
  }
}

@media (max-width: $mobile-max-width) {
  .team__wrapper {
    padding-top: 55px;
    padding-bottom: 58px;
  }
}
