.reviews__social {
  align-items: flex-start;

  li {
    margin-right: 17px;
    margin-bottom: 17px;

    &:last-of-type {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  a {
    width: 28px;
    height: 28px;
    border: 1px solid $brown;

    &:hover,
    &:focus {
      border-color: $white;
    }

    &:hover svg,
    &:focus svg {
      fill: $white;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .reviews__social {
    justify-content: center;

    li {
      margin-right: 15px;
      margin-bottom: 0;
    }
  }
}
