.reviews__item {
  position: relative;
  width: 100%;
  padding-left: 434px;

  img {
    width: 481px;
    height: 331px;
    position: absolute;
    top: 46px;
    left: 53px;
  }

  h4 {
    margin: 0 0 13px;
    font-family: $roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: $white;
  }

  p {
    margin: 0 0 39px;
    font-family: $roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    color: $white;
    opacity: 0.7;

    br {
      display: none;
    }

    br:last-of-type {
      display: block;
    }
  }

  time {
    color: $brown;
    margin-right: 35px;
    letter-spacing: 0.6px;
    line-height: 2.5;
  }
}

@media (max-width: $tablet-max-width) {
  .reviews__item {
    padding-left: 0;

    img {
      width: 302px;
      height: 208px;
      top: -95px;
      left: 50%;
      transform: translateX(-50%);
    }

    h4 {
      text-align: center;
    }

    p {
      margin: 0 0 26px;
      text-align: center;

      br:last-of-type {
        display: none;
      }
    }
  }
}

@media (max-width: $mobile-max-width) {
  .reviews__item {
    img {
      width: 242px;
      height: 166px;
      top: -83px;
      left: 50%;
      transform: translateX(-50%);
    }

    h4 {
      font-size: 18px;
      line-height: 21px;
      text-align: center;
      margin-bottom: 18px;
    }

    p {
      font-size: 14px;
      line-height: 140%;
      text-align: center;
      margin-bottom: 23px;

      br {
        display: none;
      }
    }
  }
}
