.reviews__content {
  padding: 109px 90px 99px 145px;
  background-color: $darkgray-background;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: $tablet-max-width) {
  .reviews__content {
    padding: 148px 89px 33px 111px;
    align-items: center;
  }
}

@media (max-width: $mobile-max-width) {
  .reviews__content {
    padding: 114px 27px 22px;
  }
}
