.reviews__item {
  display: flex;
  padding-left: 0;

  img {
    width: 481px;
    height: auto;
  }

  blockquote {
    margin: 0;
  }

  time {
    color: $brown;
    margin-right: 35px;
    letter-spacing: 0.6px;
    line-height: 2.5;
  }
}

@media (max-width: $tablet-max-width) {
  .reviews__item {
    position: relative;
    padding-left: 0;
    width: 100%;

    img {
      position: absolute;
      width: 302px;
      height: 208px;
      top: 0;
      left: 0;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .reviews__item {
    img {
      width: 242px;
      height: 166px;
      top: -83px;
      left: 50%;
      transform: translateX(-50%);
    }

    time {
      margin-right: 37px;
    }
  }
}
