.reviews__list {
  @include list-reset;
  width: 89%;
  position: relative;
  margin: 0 auto;
  height: 391px
}

@media (max-width: $tablet-max-width) {
  .reviews__list {
    width: 81%;
    transform: translateX(9px);
    height: 351px
  }
}

@media (max-width: $mobile-max-width) {
  .reviews__list {
    width: 100%;
    transform: translateX(0);
    height: 340px
  }
}
