.reviews__slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 65px;
  padding-left: 65px;

  button {
    display: block;

  }
}

@media (max-width: $tablet-max-width) {
  .reviews__slider {
    width: 100%;
    position: relative;
    padding: 0;
    padding-top: 95px;
    padding-left: 13px;

    button {
      display: block;
      position: absolute;
      z-index: 2;
      width: 60px;
      height: 18px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: center;
      opacity: 0.5;

      transition: opacity 0.3s ease-out;

      &:hover {
        opacity: 1;
      }

      &:first-of-type {
        z-index: 5;
        left: 17.5%;
        background-image: url("../img/arrowPrevLong.svg");
        background-position: center;
      }

      &:last-of-type {
        right: 14.5%;
        background-image: url("../img/arrowNextLong.svg");
      }

      &:first-of-type,
      &:last-of-type {
        top: 155px;
      }
    }
  }
}

@media (max-width: $mobile-max-width) {
  .reviews__slider {
    padding-top: 0;
    padding-left: 0;
    flex-direction: column;
    align-items: flex-start;

    button {
      position: absolute;
      width: 19px;
      height: 19px;

      &:first-of-type,
      &:last-of-type {
        top: 97px;
      }

      &:first-of-type {
        background-image: url("../img/arrowPrev.svg");
        left: 0;
      }

      &:last-of-type {
        background-image: url("../img/arrowNext.svg");
        right: 0;
      }
    }
  }
}
