.reviews__wrapper {
  padding-top: 27px;
  padding-bottom: 111px;
}

@media (max-width: $tablet-max-width) {
  .reviews__wrapper {
    padding-top: 34px;
    padding-bottom: 104px;
  }
}

@media (max-width: $mobile-max-width) {
  .reviews__wrapper {
    padding-top: 15px;
    padding-bottom: 60px;
  }
}
