.reviews__item {
  padding-left: 434px;

  img {
    width: 481px;
    height: 331px;
    position: absolute;
    top: 46px;
    left: 53px;
  }

  blockquote {
    margin: 0;
  }

  time {
    color: $brown;
    margin-right: 35px;
    letter-spacing: 0.6px;
    line-height: 2.5;
  }
}

@media (max-width: $tablet-max-width) {
  .reviews__item {
    padding-left: 0;

    img {
      width: 302px;
      height: 208px;
      top: -95px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media (max-width: $mobile-max-width) {
  .reviews__item {
    img {
      width: 242px;
      height: 166px;
      top: -83px;
      left: 50%;
      transform: translateX(-50%);
    }

    time {
      margin-right: 37px;
    }
  }
}
