.reviews__title {
  margin-bottom: 59px;
}

@media (max-width: $tablet-max-width) {
  .reviews__title {
    margin-bottom: 144px;
    transform: translateX(8px);
  }
}

@media (max-width: $mobile-max-width) {
  .reviews__title {
    margin-bottom: 136px;
  }
}
