.header__wrapper {
  margin: 0 auto;
  width: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 47px;
  padding-bottom: 64px;
  overflow: hidden;
  z-index: 2;
}

@media (max-width: $tablet-max-width) {
  .header__wrapper {
    padding-top: 28px;
    padding-bottom: 45px;
    width: 95.6%;
  }
}

@media (max-width: $mobile-max-width) {
  .header__wrapper {
    padding-top: 23px;
    padding-bottom: 276px;
  }
}
