.header__container {
  position: relative;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 80px;

  background-image: url("../img/main-cat-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 684px auto;
  background-position: right 0 bottom 0;

  @media (min-resolution: $retina-2x-dpi), (min-resolution: $retina-2x-dppx) {
    background-image: url("../img/main-cat-desktop@2x.png");
  }
}

@media (max-width: 1286px) {
  .header__container {
    background-position: right -150px bottom 0;
  }
}


@media (max-width: $tablet-max-width) {
  .header__container {
    width: auto;
    margin: 0;
    padding: 0 27px;

    background-image: url("../img/main-cat-tablet@1x.png");
    background-size: 534px auto;
    background-position: right 0 bottom 0;

    @media (min-resolution: $retina-2x-dpi), (min-resolution: $retina-2x-dppx) {
      background-image: url("../img/main-cat-tablet@2x.png");
    }
  }
}

@media (max-width: $mobile-max-width) {
  .header__container {
    padding: 0 15px;

    background-image: none;
  }
}
