.header__logo {
  display: block;
  width: 100%;
  margin-bottom: 78px;
  text-align: center;

  svg {
    fill: $brown;
    stroke: $darkgray-background;
    stroke-width: 0.8;
    transition: fill 0.3s ease-out;

    &:hover,
    &:focus {
      fill: $white;
    }
  }
}

@media (max-width: $tablet-max-width) {
  .header__logo {
    margin-bottom: 60px;
  }
}

@media (max-width: $mobile-max-width) {
  .header__logo {
    margin-bottom: 45px;
  }
}
