.header__social {
  flex-direction: column;
  padding-right: 113px;
  margin-top: auto;

  li {
    margin-bottom: 14px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  a {
    width: 12px;
    height: 11px;
  }

  svg {
    fill: $white;

    &:hover,
    &:focus {
      fill: $brown;
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 127px;
    left: 6px;
    height: 77px;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.61);
    margin-bottom: 29px;
    align-self: center;
  }
}

@media (max-width: $tablet-max-width) {
  .header__social {
    flex-direction: row;
    order: 2;
    padding-right: 0;
    padding-top: 0;

    li {
      margin-bottom: 0;
      margin-right: 12px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    &::before {
      display: none;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .header__social {
    display: none;
  }
}
