.breed-features__lead {
  margin: 0 auto;
  margin-bottom: 23px;
  // margin-bottom: 28px;
  font-family: $roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: $brown;
  max-width: 750px;
  text-align: center;
}

@media (max-width: $tablet-max-width) {
  .breed-features__lead {
    margin-bottom: 47px;
    max-width: 440px;
  }
}

@media (max-width: $mobile-max-width) {
  .breed-features__lead {
    margin-bottom: 25px;
    max-width: 272px;
    font-size: 14px;
    line-height: 19px;
  }
}
