@media (max-width: $mobile-max-width) {
  .breed-features__item {
    padding-left: 10px;
    max-width: 96%;
    position: relative;

    font-family: $roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: $white;

    &::before {
      content: "";
      position: absolute;
      border-radius: 50%;
      background-color: $brown;
      top: 5px;
      left: -7px;
      width: 8px;
      height: 8px;
    }

    // &--cohabitation {
    //   max-width: 10%;
    // }

    // &--instruction {
    //   max-width: 10%;
    // }

    // &--weight {
    //   max-width: 10%;
    // }

    &--appearance {
      max-width: 78%;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
