.breed-features__wrapper {
  padding-top: 21px;
  padding-bottom: 129px;
}

@media (max-width: $tablet-max-width) {
  .breed-features__wrapper {
    padding-top: 31px;
    padding-bottom: 108px;
  }
}

@media (max-width: $mobile-max-width) {
  .breed-features__wrapper {
    padding-top: 33px;
    padding-bottom: 62px;
  }
}
