@media (max-width: $mobile-max-width) {
  .breed-features__item {
    position: relative;

    font-family: $roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: $white;

    padding-left: 18px;

    &::before {
      content: "";
      position: absolute;
      border-radius: 50%;
      background-color: $brown;
      top: 5px;
      left: 0;
      width: 8px;
      height: 8px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &:last-of-type {
      width: 81%;
    }
  }
}
