.breed-features__lead {
  margin-bottom: 23px;
  width: 62%;
}

@media (max-width: $tablet-max-width) {
  .breed-features__lead {
    margin-bottom: 48px;
    min-height: 78px;
  }
}

@media (max-width: $mobile-max-width) {
  .breed-features__lead {
    margin-bottom: 26px;
    width: 96%;
  }
}
