.pets__list {
  @include list-reset;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 262px;
  margin-bottom: 44px;
}

@media (max-width: $tablet-max-width) {
  .pets__list {
    width: 37%;
    margin-bottom: 38px;
  }
}

@media (max-width: $mobile-max-width) {
  .pets__list {
    width: 233px;
    margin-bottom: 38px;
  }
}
