.pets__lead {
  margin-bottom: 42px;
  max-width: 523px;
}

@media (max-width: $tablet-max-width) {
  .pets__lead {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 43px;
  }
}

@media (max-width: $mobile-max-width) {
  .pets__lead {
    margin-bottom: 30px;
    line-height: 144%;
    word-spacing: 1px;
  }
}
