.pets__tab-content {
  display: none;

  button {
    display: none;
    margin: 0;
  }
}

@media (max-width: $tablet-max-width) {
  .pets__tab-content {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    button {
      top: 238px;
      display: block;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .pets__tab-content {
    width: 100%;
    max-width: 500px;

    button {
      top: calc(50% - 52px);
      width: 9px;
      height: 18px;
    }
  }
}
