.pets__wrapper {
  width: auto;
  padding-top: 223px;
  padding-bottom: 21px;
}

@media (max-width: $tablet-max-width) {
  .pets__wrapper {
    padding-top: 101px;
  }
}

@media (max-width: $tablet-max-width) {
  .pets__wrapper {
    padding-top: 53px;
  }
}
