.pets__list {
  @include list-reset;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 259px;
  margin-bottom: 44px;
}

@media (max-width: $tablet-max-width) {
  .pets__list {
    width: 35%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 38px;
  }
}

@media (max-width: $mobile-max-width) {
  .pets__list {
    max-width: 300px;
    width: 70%;
    margin-bottom: 38px;
    padding-right: 0;
  }
}
