.pets__link {
  font-family: $roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: $white;
}

@media (max-width: $mobile-max-width) {
  .pets__link {
    font-size: 16px;
    line-height: 19px;
  }
}
