.pets__title {
  margin-bottom: 20px;
}

@media (max-width: $tablet-max-width) {
  .pets__title {
    margin-bottom: 22px;
  }
}

@media (max-width: $mobile-max-width) {
  .pets__title {
    margin-bottom: 22px;
  }
}
