@media (max-width: $tablet-max-width) {
  .pets__slider {
    position: relative;
    width: calc(100% - 90px);
  }
}

@media (max-width: $mobile-max-width) {
  .pets__slider {
    position: relative;
    width: calc(100% - 50px);
  }
}
