.footer__link {
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  color: $lightbrown;
  transition: color 0.3s ease-out;

  &--address {
    transform: translateX(25px);
  }

  &--tel {
    font-weight: bold;
    transform: translateX(-29px);
  }

  &:hover,
  &:focus {
    color: $brown;
  }
}

@media (max-width: $tablet-max-width) {
  .footer__link {
    &--address {
      transform: translateX(27px);
    }

    &--tel {
      font-weight: bold;
      transform: translateX(6px);
    }
  }
}

@media (max-width: $mobile-max-width) {
  .footer__link {
    flex-direction: column-reverse;

    &--tel {
      margin-bottom: 15px;
    }

    &--address {
      order: 2;
      margin-bottom: 3px;
    }
  }
}
