.footer__logo {
  svg {
    fill: $brown;
    stroke: $darkgray-background;
    stroke-width: 0.8;
    transition: fill 0.3s ease-out;

    &:hover,
    &:focus {
      fill: $white;
    }
  }
}

@media (max-width: $tablet-max-width) {
  .footer__logo {
    display: none;
  }
}

@media (max-width: $mobile-max-width) {
  .footer__logo {
    display: block;

    svg {
      width: 57px;
      height: 27px;
    }
  }
}
