.footer__social {
  li {
    margin-right: 8px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  svg {
    fill: $brown;

    &:hover,
    &:focus {
      fill: $white;
    }
  }
}

@media (max-width: $tablet-max-width) {
  .footer__social {
    align-self: center;

    li {
      margin-right: 9px;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .footer__social {
    margin-bottom: 26px;
    li {
      margin-right: 20px;
    }
  }
}
