.footer__link {
  font-family: $roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 27px;
  color: $lightbrown;
  transition: all 0.3s ease-out;

  &--tel {
    font-weight: bold;
  }

  &:hover,
  &:focus {
    color: $brown;
  }
}

@media (max-width: $mobile-max-width) {
  .footer__link {
    flex-direction: column-reverse;

    &--tel {
      margin-bottom: 15px;
    }

    &--address {
      order: 2;
      margin-bottom: 3px;
    }
  }
}
