.footer__social {
  align-items: center;
  margin-right: 17%;

  li {
    position: relative;
  }

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-out;
  }

  li {
    width: 25px;
    height: 25px;

    &:first-of-type {
      order: 3;
    }

    &:nth-of-type(2) {
      order: 2;
    }

    &:last-of-type {
      order: 1;
    }
  }

  svg {
    fill: $brown;

    &:hover,
    &:focus {
      fill: $white;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .footer__social {
  }
}
