.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;

  margin: 0 auto;
  width: 72.7%;

  padding-top: 70px;
  padding-bottom: 59px;
}

@media (max-width: $tablet-max-width) {
  .footer__wrapper {
    width: 93%;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 43px;
  }
}

@media (max-width: $mobile-max-width) {
  .footer__wrapper {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;

    padding-top: 32px;
    padding-bottom: 10px;
  }
}
